<div class="project_alpha">
 
  </div>

<div class="candidates-container">
    <nav mat-tab-nav-bar class="mat-nav-bar" fxHide.lt-sm> 
       
      <div fxLayout="row" fxLayoutAlign="space-between center">
          
        <span fxFlex="60%" fxLayoutAlign="start">
            <a mat-tab-link *ngFor="let link of navLinks; let i = index;" [routerLink]="[link.path]"
            routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" >
              <span *ngIf="link.path != 'admin'">{{link.label}}</span>
            </a>
        </span>
    
    </div>

  </nav>

  <router-outlet></router-outlet>
</div>
