@import '../../../sass/cartus-palette.scss';

.candidates-container {
    padding: 0px 20px;
    padding-bottom:50px;
}
.mat-icon {
    color: map-get($cartus-palette, 'cartus_light_gray');
}
.search-within-table {
    background-color: #fff !important;
    font-size: 0.75em;
    font-weight: normal !important;
    color: #575A5D;
    border:1px solid map-get($cartus-palette, 'cartus_gray') !important;
}

.search-table  .mat-form-field-wrapper {
    margin:0px !important;
    padding:0px !important;
}
.search-table .mat-form-field-appearance-outline:focus, .mat-form-field-outline:focus {
    color: white;
  }

.search-table .mat-form-field-appearance-outline.mat-focused{ 
    outline: none !important;
}

.mat-raised-button.mat-primary {
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}
.page_header .mat-icon {
  color:map-get($cartus-palette, 'cartus_light_gray' ) !important;    
}

.mat-outline-button{
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}

.mat-raised-button.mat-primary {
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}

.mat-tab-nav-bar {
    margin-bottom:1.3em;
}

.search-within-table {
  background-color: #fff !important;
  font-size: 0.75em;
  font-weight: normal !important;
  color: #575A5D;
  border:1px solid map-get($cartus-palette, 'cartus_gray') !important;
}

.mat-nav-bar a:last-child {
  float:right;
}