
<section>
    <h2>Approved Moves</h2>
  </section>  
  <section class="search_table">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span fxFlex="60%" fxLayoutAlign="start">
            <mat-form-field appearance="outline" class="search-within-table search-box">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search within table for..." width="80%" fxFlex.sm="65">
              </mat-form-field>
              <span fxLayoutAlign="start center" >
                  <a (click)="openModal()">
                      <mat-icon matTooltip="Select columns" matTooltipPosition="right" class="viewsetting-icon">view_column</mat-icon>
                  </a>
              </span>
          </span>
        <span fxFlex="12.5em" fxLayoutAlign="end" fxFlex.xs="10.5em">
      </span>
    </div>
  </section>  
<p></p>
<section class="content_table">
   
  <section class="mat-elevation-z8">
<div style="overflow:auto;">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Select Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()">
              </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" >
              <mat-checkbox (click)="selection.toggle(row)"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)" >
              </mat-checkbox>
          </td>
      </ng-container>
  
      <!-- Full Name Column -->
      <ng-container matColumnDef="candidate.fullname" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
          <td mat-cell *matCellDef="let element" class="cLinks" [ngClass]="{highlighted: selection.isSelected(row)}" ><span class="text-as-link" [innerHTML]="element.candidate.fullname | highlightSearch: filterText">{{element.candidate.fullname}}</span> </td>
      </ng-container>
  
      <!-- Authorized Amount Column -->
      <ng-container matColumnDef="authorizedAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Authorized Amount </th>
          <td mat-cell *matCellDef="let element"><strong><span [innerHTML]="element.authorizedAmount | highlightSearch: filterText">{{element.authorizedAmount}}</span></strong></td>
      </ng-container>
  
       <!-- Departure Column -->
       <ng-container matColumnDef="departure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure </th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.departure | highlightSearch: filterText"> {{element.departure}}</td>
        </ng-container>
  
      <!-- Destination Column -->
      <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.destination | highlightSearch: filterText"> {{element.destination}} </td>
      </ng-container>

      <!-- Email Address Column -->
      <ng-container matColumnDef="emailAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element.candidate.emailAddress | highlightSearch: filterText"> {{element.candidate.emailAddress}} </td>
      </ng-container>
  
      <!-- Level Column -->
      <ng-container matColumnDef="candidate.level.levelName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.candidate.level.levelName | highlightSearch: filterText"> {{element.candidate.level.levelName}}</td>
      </ng-container>

       <!-- Business Unit Column -->
      <ng-container matColumnDef="businessUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Unit </th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element.candidate.businessUnit | highlightSearch: filterText"> {{element.candidate.businessUnit}} </td>
      </ng-container>

       <!-- Last Updated Column -->
       <ng-container matColumnDef="lastUpdateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated Date </th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element.lastUpdateDate | highlightSearch: filterText"> {{element.lastUpdateDate}} </td>
    </ng-container>

     <!-- Created By Column -->
     <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.createdBy | highlightSearch: filterText"> {{element.createdBy}} </td>
    </ng-container>

     <!-- Authorized By Column -->
     <ng-container matColumnDef="authorizedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Authorized By </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.authorizedBy | highlightSearch: filterText"> {{element.authorizedBy}} </td>
    </ng-container>

      <!-- Status Column -->
    <ng-container matColumnDef="status" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
          <div class="notification-important">
            <span *ngIf="element.isAssessmentReceived">
              <mat-icon> notification_important </mat-icon>
              <a> {{element.status}} </a>
            </span>
            <span *ngIf="!element.isAssessmentReceived">
              {{element.status}}
            </span>
            <span *ngIf="element.isInvitationSent" style="margin-left: 10px;">
              <a (click)="openAlert($event)"> {{element.invitationText}} </a>
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row (click)="open($event, row)"  *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlighted: selection.isSelected(row)}"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
</section>

</section>