@import '../../../../sass/cartus-palette.scss';
/*
.project_alpha {
  padding: 1.2em;
}

.cLinks a{
  color: map-get($cartus-palette, cartus_link_color);
  text-decoration: none;
}
.viewsetting-icon
{
    padding-left: 15px;
    padding-top: 8px;
}
/*

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: map-get($cartus-palette, 'cartus_light_gray' );
}

.mat-error {
  color:map-get($cartus-palette, 'cartus_error_feedback' );
}

.mat-select-value {
    color: #575A5D;
    font-weight: 100;
}
// .search-within-table {
//   background-color: #fff !important;
//   font-size: 14px;
//   font-weight: normal !important;
//   color: #575A5D;
// }

/*
.search_table .mat-form-field-wrapper {
  margin:0px !important;
  padding:0px !important;
  border:1px solid map-get($cartus-palette, 'cartus_light_gray' );
  border-radius: 5px;
}

.search_table .search-input{
  vertical-align: text-top;
}
*/

/*
.mat-raised-button.mat-primary {
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}
.page_header .mat-icon {
  color:map-get($cartus-palette, 'cartus_light_gray' ) !important;    
}

.mat-outline-button{
background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
height: 3.5em;
}

.mat-raised-button.mat-primary {
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}

/*
.table_views mat-icon {
  color:map-get($cartus-palette, 'cartus_light_gray');
}
.highlight-search {
  background-color:map-get($cartus-palette, 'cartus_highlight');
}
.highlighted {
  background-color:map-get($cartus-palette, 'cartus_hover_tint');
}
.text-as-link {
  color:map-get($cartus-palette, 'cartus_accent_blue');
  text-decoration: none;
  
}

/*
.search-within-table {
  background-color: #fff !important;
  font-size: 14px;
  font-weight: normal !important;
  color: #575A5D;
  @media screen and (max-width:600px){
    width:200px;
  }
}

.search_table .mat-form-field-wrapper {
  margin:0px !important;
  padding:0px !important;
  border:1px solid map-get($cartus-palette, 'cartus_light_gray' );
  border-radius: 5px;
}

.search_table .search-input{
  vertical-align: text-top;
}

.mat-raised-button.mat-primary {
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}

.mat-outline-button{
background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
height: 3.5em;
}

.mat-raised-button.mat-primary {
  background-color: map-get($cartus-palette, 'cartus_accent_blue' ) !important;    
  height: 3.5em;
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
    border: map-get($cartus-palette, 'cartus_light_gray' );
  }
}
.table_views mat-icon {
  color:map-get($cartus-palette, 'cartus_light_gray');
}
  

*/

.highlight-search {
  background-color:map-get($cartus-palette, 'cartus_highlight')!important;
}

.highlighted {
  background-color:map-get($cartus-palette, 'cartus_hover_tint');
}
