@import '../../../../sass/cartus-palette.scss';

.project_alpha {
  padding: 1.2em;
}

.cLinks a{
  color: map-get($cartus-palette, cartus_link_color);
  text-decoration: none;
}
.viewsetting-icon
{
    padding-left: 1em;
    padding-top: 0.5em;
    @media screen and (max-width:600px){
      padding-left: 0.3em;
    }
}
.candidate_details{
    td.mat-cell{
      p{
        margin:0
      }
      &.mat-column-empName{
        color: map-get($cartus-palette, 'cartus_link_color');
        em{
          font-style: normal;
          font-size: 0.9em;
        }
      }
      &.mat-column-movePhase{
        color: map-get($cartus-palette, 'cartus_link_color');
      }
    }
    .mat-paginator-container{
      position: relative;
      .mat-paginator-page-size{
        position:absolute;
        left:0;
      }
      .mat-paginator-range-actions{
        position:relative;
        .mat-paginator-range-label{
          margin: 0;
          position: absolute;
          left: 2.5em;
        }
        .mat-paginator-navigation-previous{
          margin-right: 5em; 
        }
      }
    }
    .mat-table{
        th.mat-header-cell{
            &:first-of-type{
                padding-left: 0.7em;
            }
        }
        td.mat-cell{
            &:first-of-type{
                padding-left: 0.7em;
            }
        }
    }
}
  


.page_header {
    .mat-icon {
        vertical-align: bottom;
        cursor: pointer;
    }
}

