<section>
    <h2>Candidates</h2>
  </section>  
  <section class="search_table">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span fxFlex="60%" fxLayoutAlign="start">
            <mat-form-field appearance="outline" class="search-within-table search-box">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput (keyup)="filterResults($event.target.value)" placeholder="Search within table for..." width="80%" fxFlex.sm="65">
              </mat-form-field>
              <span fxLayoutAlign="start center" >
                  <a (click)="openModal()">
                      <mat-icon matTooltip="Select columns" matTooltipPosition="right" class="viewsetting-icon">view_column</mat-icon>
                  </a>
              </span>
          </span>
        <span fxFlex="12.5em" fxLayoutAlign="end" fxFlex.xs="10.5em">
            <span fxFlex="12.5em" fxLayoutAlign="end" fxFlex.xs="10.5em">
                <button mat-raised-button color="primary" (click)="openDialog()">
                    <mat-icon matPrefix>person_add</mat-icon>
                   Add 
                </button>
            </span>
      </span>
    </div>
  </section>   
  <p></p>
<app-candidate-details [selectedCols]= "columnList"></app-candidate-details>
