@import '../../../../sass/cartus-palette.scss';

.project_alpha {
  padding: 1.2em;
}

.cLinks a{
  color: map-get($cartus-palette, cartus_link_color);
  text-decoration: none;
}
.viewsetting-icon
{
    padding-left: 15px;
    padding-top: 8px;
}

  


.page_header {
    .mat-icon {
        vertical-align: bottom;
        cursor: pointer;
    }
}

