
<section>
  <h2>Cost Models</h2>
</section>  
<section class="search_table">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex="60%" fxLayoutAlign="start">
          <mat-form-field appearance="outline" class="search-within-table search-box">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search within table for..." width="80%" fxFlex.sm="65">
            </mat-form-field>
            <span fxLayoutAlign="start center" >
                <a (click)="openModal()">
                    <mat-icon matTooltip="Select columns" matTooltipPosition="right" class="viewsetting-icon">view_column</mat-icon>
                </a>
            </span>
        </span>
      <span fxFlex="12.5em" fxLayoutAlign="end" fxFlex.xs="10.5em">
          <span fxFlex="12.5em" fxLayoutAlign="end" fxFlex.xs="10.5em">
              <button mat-raised-button color="primary" (click)="openDialog()">
                  <mat-icon matPrefix>person_add</mat-icon>
                  Create Cost Model
              </button>
          </span>
    </span>
  </div>
</section>  

<p></p>
<section class="content_table">
   
  
  <section class="mat-elevation-z8">
<div style="overflow:auto;">
    <table mat-table [dataSource]="dataSource" matSort>
  
       <!-- Select Checkbox Column -->
       <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" >
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)" >
            </mat-checkbox>
        </td>
    </ng-container>

      <!-- Model Name Column -->
      <ng-container matColumnDef="modelName" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost Model Name </th>
          <td mat-cell *matCellDef="let element" class="cLinks" (click)="open($event, element)"><span class="text-as-link" [innerHTML]="element.modelName | highlightSearch: filterText">{{element.modelName}}</span> </td>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="level.levelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element.level.levelName | highlightSearch: filterText"> {{element.level.levelName}}</td>
    </ng-container>
  
      <!-- Departure Column -->
      <ng-container matColumnDef="departure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure </th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.departure | highlightSearch: filterText"> {{element.departure}}</td>
      </ng-container>
  
      <!-- Destination Column -->
      <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.destination | highlightSearch: filterText"> {{element.destination}} </td>
      </ng-container>

       <!-- Last Updated Date Column -->
       <ng-container matColumnDef="updateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated Date </th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element.updateDate | highlightSearch: filterText"> {{element.updateDate}} </td>
       </ng-container>

      <!-- Delete Action Column -->
      <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>
             Delete
          </th>
          <td mat-cell *matCellDef="let row" >
              <mat-icon matPrefix class="error">delete</mat-icon>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
</section>

</section>